:root{
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
}


*{
font-family: 'Outfit', sans-serif;
}

body{
    background-color: var(--Light-gray);
    width: 100vw;
    height: 95vh;
    align-content: center;
    justify-content: center;
    margin: auto;
}

img{
    content: url(./images/image-qr-code.png);
    border-radius: 10px;
    width: 90%;
    margin: 15px;
    
    
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--White);
    border-radius: 15px;
    margin: auto;    
    width:270px;
    transition: 0.3s;
    
    
}
h1{
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
    color: var(--Dark-blue);
}
p{
    font-size: small;
    margin-left: 19px;
    margin-right: 19px;
    margin-bottom: 40px;
    color: var(--Grayish-blue);
}


footer { 
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    font-size: 11px; 
    align-content: center;
    color:var(--Grayish-blue);
    font-weight: 800;
}

footer a { 
    color: hsl(228, 12%, 43%); 
    transition: 0.3s;
    
    
}
footer a:hover{
    color: hsl(226, 82%, 45%); 
    margin: 10px;
    transition: 0.3s;

}

article:hover{
    margin: auto;    
    width:290px;
    box-shadow: 0 0 10px rgb(31, 31, 31);
    transition: 0.3s;
}